body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: whitesmoke;
  text-align: center;

}
#input-add_form {
  padding-top:1%;
  background-color: #464545
}
#input-name, #input-age, #input-email{
  margin-right:1%;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  outline: none;
  padding: 0.2% 0.5%;
}
button {
  background-color: #464545;
  outline: none;
  border: 1px solid white;
  color:white;
  font-weight: 600;
  -webkit-transition: border 0.5s, color 05s;
  transition: border 0.5s, color 0.5s;
}
button:hover {
  border: 1px solid red;
  color:red;
  cursor: pointer;
}
#header{
  width: 100%;
  top:0;
  padding-top:0.5%;
  position: relative;
  background-color: black;
  border-bottom: 2px solid #428fbb;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
}
#header h1 {
  color: white;

}
#header span {
  color:#428fbb;
}
#footer{
  position: fixed;
  bottom: 0;
  width:100%;
  background-color: black;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  padding: 1% 0;
}
 
#author_name{
  padding:0.5% 0;
  background-color: #B8B8B8;
  border-bottom:2px solid #428fbb;
}
#author_name span {
  color: #428fbb;
  text-shadow: 1px 0px black;
}

.display-friend{
  background-color: #428fbb;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  width: 300px;
  display: inline-block;  
  padding:0.5%;
  margin:0.5%;
  color:white;
  border-radius: 10px;
  text-shadow: 2px 2px black;
  border:2px solid black;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.input-update_form{
  display: none;
  text-align: right;
  background-color: #5E5D5D;
  padding:2%;
  border-radius: 5px;
  color:#428fbb;
  border: 2px solid white;
}
.input-update_form input {
  border-radius: 4px;
  padding-left: 1%;
  margin-bottom: 1%;
}
